$duration: 1s;

@keyframes rotateTriangleRotate {
    from {
        transform: rotate(0deg);
    }

    50%,
    to {
        transform: rotate(180deg);
    }
}

.rotator {
    animation: rotateTriangleRotate 2 * $duration steps(1) infinite;
}

@keyframes shrinkTriangleShrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.5);
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    animation: shrinkTriangleShrink $duration linear infinite;
}

.triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101px;
    height: 86px;
    margin-left: -0.5em;
    margin-top: -0.5774em;
    overflow: hidden;
    transform-origin: 50% 66.666%;
    border-bottom: 3px solid white;

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 65px;
        height: 65px;
        border: 3px solid white;
        transform: translate(-50%, 50%) scaleY(1.732) rotate(45deg);
    }

    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation: growTrianglesGrow-#{$i} $duration infinite;
        }

        @keyframes growTrianglesGrow-#{$i} {
            from,
            #{$i * 10%} {
                transform: scale(0) rotate(60deg + 120deg * $i) translateY(-66.1%);
            }
            75% {
                transform: scale(1) rotate(60deg + 120deg * $i) translateY(-66.1%);
            }
            to {
                transform: scale(1) rotate(60deg + 120deg * $i) translateY(-66.1%);
            }
        }
    }
}
