.user-info-container {
    background-color: white;
    height: 45px;
    width: 100%;
    border-radius: 25px;
    display: flex;

    &__data {
        width: 100%;
        margin-left: 5px;
    }

    &__stats {
        font-size: 11px;
    }

    &__name {
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 6px;
    }

    &__photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;

        img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            object-fit: cover;
            margin-left: 5px;
        }
    }
}

.green {
    color: #197d29;
}
